<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
<!-- Bean에 있으면 객체를 무조건 생성함 -->

	<context:component-scan base-package="com.global.biz"></context:component-scan>
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	
	
	
	<!-- <bean id="log" class="com.global.biz.common.Log4jAdvice"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* com.global.biz..*Impl.*(..))" id="allPointcut"/>
		<aop:aspect ref="log">
			<aop:before method="printLogging" pointcut-ref="allPointcut"/>
		</aop:aspect>
	
	</aop:config> -->
	
	
	<!-- <bean id="log" class="com.global.biz.common.Log4jAdvice"></bean> -->
	<!-- <bean id="before" class="com.global.biz.common.BeforeAdvice"></bean>
	<bean id="afterReturning" class="com.global.biz.common.AfterReturningAdvice"></bean>
	<bean id="afterThrowing" class="com.global.biz.common.AfterThrowingAdvice"></bean>
	<bean id="after" class="com.global.biz.common.AfterAdvice"></bean>
	<bean id="around" class="com.global.biz.common.AroundAdvice"></bean>
	
	<aop:config>
		<aop:pointcut expression="execution(* com.global.biz..*Impl.get*(..))" id="getPointcut"/>
		<aop:pointcut expression="execution(* com.global.biz..*Impl.*(..))" id="allPointcut"/>
		
		<aop:aspect ref="around">
			<aop:around method="aroundLog" pointcut-ref="allPointcut"/>
		</aop:aspect>
		
		<aop:aspect ref="after">
			<aop:after method="finallyLog" pointcut-ref="allPointcut"/>
		</aop:aspect>
		
		<aop:aspect ref="afterThrowing">
			<aop:after-throwing method="exceptionLog" throwing="exceptionObj" pointcut-ref="allPointcut"/>
		</aop:aspect>
		
		<aop:aspect ref="afterReturning">
			<aop:after-returning method="afterLog" returning="returnObj" pointcut-ref="getPointcut"/>
		</aop:aspect>
		
		<aop:aspect ref="before">
			<aop:before method="beforeLog" pointcut-ref="allPointcut"/>
		</aop:aspect>
		
		<aop:aspect ref="log">
			<aop:before method="printLogging" pointcut-ref="getPointcut"/>
		</aop:aspect>
	</aop:config> -->
	
	
	<!--
	<bean id="userService" class="com.global.biz.user.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	
	<bean id="userDAO" class="com.global.biz.user.impl.UserDAO" />
	 -->
	
	
	<!-- DataSource 설정 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl" />
		<property name="username" value="scott" />
		<property name="password" value="tiger"></property>
	</bean>
	
	
	
	
</beans>
